<div class="bestdeals-main">
    <div class="bestheading">
        <h1>Best Of Deals</h1>
        <div class="line-under"></div>
    </div>
    <div class="bestdeal">
        <div class="headingbestdeal">
        </div>
        <div class="cards-best-deal">
            <app-deal-card class="flex-r"></app-deal-card>   
        </div>
    </div>
</div>


<!-- <div class="best-deal">
    <div class="best-deal-title">
        <h2>Best Deals</h2>
    </div>
    <div class="best-deal-cards">
        <app-deal-card></app-deal-card>
        <app-deal-card></app-deal-card>
        <app-deal-card></app-deal-card>
    </div>
</div> -->
