<!-- {{ property | json }} -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav>
   
      <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/" mat-list-item>
          <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
       
        <button mat-list-item>
          <mat-icon mat-list-icon>logout</mat-icon> Logout
        </button>
      </mat-action-list>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="nav" [class.scrolled]="isScrolled">
      <div class="nav-left">
        <h2>My App</h2>
      </div>
      <div class="nav-right">
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
 
<div class="property">
  <div class="image-hero">
    <img src="{{ property.pPhoto }}" alt="" />
  </div>

  <div class="price-card">
    <div class="card-top">
      <div class="card-left">
        <p>Total Price</p>
        <h4>{{ property.pPrice | currency : "INR" }}</h4>
      </div>
      <div class="card-right">
        <button mat-button>Send Request</button>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="card-bottom">
      <div class="card-left">
        <p>updated 1 day ago</p>
      </div>
      <div class="card-right">
        <button
          mat-icon-button
          class="favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon color="white">favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="property-details">
    <div class="property-address">
      <p>{{ property.aArea }},{{ property.aLandmark }},{{ property.aCity }}</p>
    </div>
    <div class="property-icons">
      <p>
        <img src="../../../assets/icons/house.png" alt="" />

        {{ property.pPropertyType }}
        Type
      </p>
      <p>
        <img src="../../../assets/icons/plan.png" alt="" />
        {{ property.pArea }}
        Sq.ft
      </p>
      <p>
        <img src="../../../assets/icons/double-bed.png" alt="" />
        {{ property.pBedroom }}
        Bedrooms
      </p>
      <p>
        <img src="../../../assets/icons/bath.png" alt="" />
        {{ property.pBathroom }}
        Bathroom
      </p>
    </div>
    <div class="property-description">
      <p>{{ property.pDescription }}</p>
    </div>
  </div>
  <div class="property-features">
    <div class="prop-features-title">
      <h2>Features</h2>
    </div>
    <div class="prop-features-feature">
      <table>
        
        <tr>
          <td>Offer Type</td>
          <td>{{ property.pOfferType }}</td>
        </tr>
        <tr>
          <td>Rooms</td>
          <td>{{ property.pBHK }}</td>
        </tr>
        <tr>
          <td>Property Type</td>
          <td>{{ property.pPropertyType }}</td>
        </tr>
        <tr>
          <td>Furnished Status</td>
          <td>{{ property.pFurnishedStatus }}</td>
        </tr>
        <tr>
          <td>Construction Status</td>
          <td>
            {{ property.pPossesionStatus }}
          </td>
        </tr>
        <tr>
          <td>Facing</td>
          <td>
            {{ property.pFacing }}
          </td>
        </tr>
        <tr>
          <td>Age of Construction</td>
          <td>
            {{ property.pAgeOfConstruction }}
          </td>
        </tr>
        <tr>
          <td>Room Floor</td>
          <td>
            {{ property.pRoomFloor }}
          </td>
        </tr>
        <tr>
          <td>Total Floor</td>
          <td>
            {{ property.pTotalFloor }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="property-amenities">
    <div class="prop-amenities-title">
      <h2>Amenities</h2>
    </div>
    <div class="prop-amenity">

      <table>
        <tr>
          <td><mat-icon>{{property.lift ?'✓':'✗'}}</mat-icon></td>
          <td>Lift</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.security ?'✓':'✗'}}</mat-icon></td>
          <td>Security</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.playground ?'✓':'✗'}}</mat-icon></td>
          <td>Playground</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.gardens ?'✓':'✗'}}</mat-icon></td>
          <td>Gardens</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.waterSupply ?'✓':'✗'}}</mat-icon></td>
          <td>Water Supply</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.powerBackup ?'✓':'✗'}}</mat-icon></td>
          <td>Power Backup</td>
        </tr>
        
        
      </table>
      <table>
        <tr>
         <td><mat-icon>{{property.parkingArea ?'✓':'✗'}}</mat-icon></td>
          <td>Parking Area</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.shoppingMall ?'✓':'✗'}}</mat-icon></td>
          <td>Shopping Mall</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.hospitals ?'✓':'✗'}}</mat-icon></td>
          <td>Hospitals</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.schools ?'✓':'✗'}}</mat-icon></td>
         <td>Schools</td>
        </tr>
        <tr>
         <td><mat-icon>{{property.marketArea ?'✓':'✗'}}</mat-icon></td>
          <td>Market Area</td>
        </tr>
      </table>
    </div>
  </div>
</div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

