<mat-card class="add-property">
  <h1>Add Property</h1>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="addProperty(form.value)" [formGroup]="form">
            <div class="property-main">
              <!-- Property Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Property Name</mat-label>
                <input
                  matInput
                  [value]="form.get('pName')?.value"
                  formControlName="pName"
                  name="pName"
                  placeholder="Enter Property Name"
                />
              </mat-form-field>

              <!-- Property Image URL -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Property Image URL</mat-label>
                <input
                  matInput
                  formControlName="pPhoto"
                  name="pPhoto"
                  placeholder="Enter Property Photo"
                  [value]="form.get('pPhoto')?.value"
                />
              </mat-form-field>

              <!-- Address Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Address Name</mat-label>
                <input
                  matInput
                  formControlName="aArea"
                  name="aArea"
                  [value]="form.get('aArea')?.value"
                  placeholder="Enter Address Name"
                />
              </mat-form-field>

              <!-- Landmark Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Landmark Name</mat-label>
                <input
                  matInput
                  formControlName="aLandmark"
                  name="aLandmark"
                  [value]="form.get('aLandmark')?.value"
                  placeholder="Enter Landmark Name"
                />
              </mat-form-field>

              <!-- City Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>City Name</mat-label>
                <input
                  matInput
                  formControlName="aCity"
                  name="aCity"
                  [value]="form.get('aCity')?.value"
                  placeholder="Enter City Name"
                />
              </mat-form-field>

              <!-- State Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>State Name</mat-label>
                <input
                  matInput
                  formControlName="aState"
                  name="aState"
                  [value]="form.get('aState')?.value"
                  placeholder="Enter State Name"
                />
              </mat-form-field>

              <!-- Pincode Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Pincode Name</mat-label>
                <input
                  matInput
                  formControlName="aPincode"
                  name="aPincode"
                  [value]="form.get('aPincode')?.value"
                  placeholder="Enter Pincode"
                />
              </mat-form-field>

              <!-- Property Price -->
              <mat-form-field appearance="outline">
                <mat-label>Property Price</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="pPrice"
                  name="pPrice"
                  [value]="form.get('pPrice')?.value"
                  placeholder="Enter Property Price"
                />
              </mat-form-field>

              <!-- Offer Type -->
              <mat-form-field appearance="outline">
                <mat-label>Offer Type</mat-label>
                <mat-select
                  formControlName="pOfferType"
                  [value]="form.get('pOfferType')?.value"
                  name="pOfferType"
                >
                  <mat-option></mat-option>
                  <mat-option value="sale">Sale</mat-option>
                  <mat-option value="resale">Resale</mat-option>
                  <mat-option value="rent">Rent</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Property Type -->
              <mat-form-field appearance="outline">
                <mat-label>Property Type</mat-label>
                <mat-select
                  formControlName="pPropertyType"
                  name="pPropertyType"
                  [value]="form.get('pPropertyType')?.value"
                >
                  <mat-option></mat-option>
                  <mat-option value="flat">Flat</mat-option>
                  <mat-option value="villa">Villa</mat-option>
                  <mat-option value="house">House</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Property Status</mat-label>

                <mat-select
                  name="pPossesionStatus"
                  formControlName="pPossesionStatus"
                  [value]="form.get('pPossesionStatus')?.value"
                >
                  <mat-option></mat-option>
                  <mat-option value="readytomove">Ready To Move</mat-option>
                  <mat-option value="underconstruction"
                    >Under Construction
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Furnished Status</mat-label>
                <!-- 
              Fully 
              Semi
              Unfurnished -->
                <mat-select
                  name="pFurnishedStatus"
                  formControlName="pFurnishedStatus"
                  [value]="form.get('pFurnishedStatus')?.value"
                >
                  <mat-option></mat-option>
                  <mat-option value="fullyfurnished"
                    >Fully Furnished</mat-option
                  >
                  <mat-option value="semifurnished">Semifurnished</mat-option>
                  <mat-option value="unfurnished">Unfurnished</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Facing </mat-label>

                <mat-select
                  formControlName="pFacing"
                  name="pFacing"
                  [value]="form.get('pFacing')?.value"
                >
                  <mat-option></mat-option>
                  <mat-option value="east">East</mat-option>
                  <mat-option value="west">West</mat-option>
                  <mat-option value="south">South</mat-option>
                  <mat-option value="north">North</mat-option>
                  <mat-option value="northwest">North West</mat-option>
                  <mat-option value="northeast">North East</mat-option>
                  <mat-option value="southeast">South East</mat-option>
                  <mat-option value="southwest">South West</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Age Of Construction</mat-label>

                <!-- Ready-to-move
              Completed by date -->
                <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option value="1year">1 Year</mat-option>
                <mat-option value="2years">2 Years</mat-option>
                <mat-option value="3years">3 Years</mat-option>
                <mat-option value="4years">4 Years</mat-option>
                <mat-option value="5years">5 Years</mat-option>
              </mat-autocomplete> -->

                <input
                  matInput
                  name="pAgeOfConstruction"
                  placeholder="Enter Property Age"
                  formControlName="pAgeOfConstruction"
                  [value]="form.get('pAgeOfConstruction')?.value"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>How many BHK</mat-label>
                <input
                  matInput
                  name="pBHK"
                  placeholder="Enter Property BHK"
                  formControlName="pBHK"
                  [value]="form.get('pBHK')?.value"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>How many bedrooms </mat-label>

                <!-- Ready-to-move
              Completed by date -->
                <input
                  matInput
                  name="pBedroom"
                  placeholder="Enter Property Bedrooms"
                  formControlName="pBedroom"
                  [value]="form.get('pBedroom')?.value"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>How many bathrooms</mat-label>

                <!-- Ready-to-move
                Completed by date -->
                <input
                  matInput
                  name="pBathroom"
                  placeholder="Enter Property Bathrooms"
                  formControlName="pBathroom"
                  [value]="form.get('pBathroom')?.value"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>How many balconies</mat-label>

                <!-- Ready-to-move
                Completed by date -->
                <input
                  matInput
                  name="pBalcony"
                  placeholder="Enter Property Balconies"
                  formControlName="pBalcony"
                  [value]="form.get('pBalcony')?.value"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Total Floor</mat-label>

                <!-- Ready-to-move
              Completed by date -->
                <input
                  matInput
                  name="pTotalFloor"
                  placeholder="Enter Total Floor"
                  formControlName="pTotalFloor"
                  [value]="form.get('pTotalFloor')?.value"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Floor room</mat-label>

                <!-- Ready-to-move
                Completed by date -->
                <input
                  matInput
                  name="pRoomFloor"
                  placeholder="Enter Room Floor"
                  formControlName="pRoomFloor"
                  [value]="form.get('pRoomFloor')?.value"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Carpet Area</mat-label>

                <!-- Ready-to-move
                Completed by date -->
                <input
                  matInput
                  name="pArea"
                  placeholder="Enter Area in squarefeets"
                  formControlName="pArea"
                  [value]="form.get('pArea')?.value"
                />
              </mat-form-field>

              <!-- Description -->
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  formControlName="pDescription"
                  name="pDescription"
                  placeholder="Enter Property Description"
                  [value]="form.get('pDescription')?.value"
                ></textarea>
              </mat-form-field>

              <!-- Amenities -->

              <mat-checkbox
                class="example-margin"
                name="lift"
                formControlName="lift"
                >Lift</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="security"
                formControlName="security"
                >Security Guard</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="playground"
                formControlName="playground"
                >Play Ground</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="gardens"
                formControlName="gardens"
                >Garden</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="waterSupply"
                formControlName="waterSupply"
                >Water Supply</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="powerBackup"
                formControlName="powerBackup"
                >Power Backup</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="parkingArea"
                formControlName="parkingArea"
                >Parking Area</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="gym"
                formControlName="gym"
                >Gym</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="shoppingMall"
                formControlName="shoppingMall"
                >Shopping Mall</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="hospitals"
                formControlName="hospitals"
                >Hospital</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="schools"
                formControlName="schools"
                >School</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="marketArea"
                formControlName="marketArea"
                >Market Area</mat-checkbox
              >

              <!-- Gallery Images -->
              <div formArrayName="images">
                <div
                  *ngFor="let image of images.controls; let i = index"
                  class="form-group"
                >
                  <label>Gallery Image {{ i + 1 }}</label>
                  <input
                    type="file"
                    class="form-control"
                    formControlName="url"
                    accept="image/*"
                    (change)="onFileSelected($event, i)"
                  />

                  <button
                    type="button"
                    mat-raised-button
                    color="accent"
                    class="btn btn-danger"
                    (click)="removeGalleryImage(i)"
                  >
                    Remove
                  </button>
                </div>
                <button
                  type="button"
                  mat-raised-button
                  color="accent"
                  class="btn btn-primary"
                  (click)="addGalleryImage()"
                >
                  Add Image
                </button>
                <button
                  type="button"
                  mat-raised-button
                  color="accent"
                  class="btn btn-primary"
                  (click)="uploadImages()"
                >
                  Upload Images
                </button>
              </div>
            </div>
            <!-- Submit button -->
            <div class="container text-center mt15">
              <button mat-raised-button color="accent">Add Property</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
