.add-property {
  padding: 20px;
}

/* Chrome, Safari, Edge, Opera */
input[matinput]::-webkit-outer-spin-button,
input[matinput]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[matinput][type=number] {
  -moz-appearance: textfield;
}

.w100 {
  width: 100%;
}

/* Gallery Section */
.form-group {
  margin-bottom: 15px;
}

.btn-danger {
  background-color: #f44336;
  color: white;
  border-color: #f44336;
}

.btn-primary {
  background-color: #000000;
  color: white;
  border-color: #000000;
  margin: 0px 10px;
}

.mt15 {
  margin-top: 15px;
}

/* Additional Styling */
.add-property h1 {
  text-align: center;
  margin-bottom: 20px;
}

.add-property .property-main {
  margin-top: 20px;
}

.add-property .example-margin {
  margin-right: 10px;
}

.add-property .container {
  margin-top: 20px;
  text-align: center;
}

.add-property button {
  margin-top: 10px;
}
.m-l-h-10{
  margin: 0px 10px 0px 0px;
}
.checks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & .example-margin{
    width: 20%;
  }
}
.custom-file-upload {
  display: inline-block;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0px 30px;
}

.custom-file-upload span {
  margin-right: 10px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

