.super-admin-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 padding: 0px 50px;
}
.aaff{
  padding: 50px 50px;
}
.icon-card{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}
mat-icon{
  color: #00b4a1;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.count{
  font-size: 22px;
}
.label{
  font-size: 16px;
}