<div class="hero">
  <div class="wrapper-hero">
    <div class="hero-infocontainer">
      <h1 class="p_720_no">
        Estate Tribes Is<br />
        The Real Estate <br />
        Marketplace
      </h1>
      <h1 class="p_720">
        Estate Tribes Is The Real Estate
        Marketplace
      </h1>
    </div>

    <div class="form-container-main">
      <div class="formconteiner-hero">
        <div class="form-backgroundwrapper"></div>
        <form action="" class="hero-form">
          <h1>YOUR NEW <br />HOME AWAITS</h1>
          <h4>Contact us to get the offers from our agents !</h4>
          <div class="form-feilds">
            <div class="topfeilds">
              <div class="label-feild">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" class="firstname aipf" />
              </div>
              <div class="label-feild">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" class="lastname aipf" />
              </div>
            </div>
            <div class="label-feild">
              <label for="email">Email Id</label>
              <input type="email" id="email" class="email-feild aipfe" />
            </div>
            <div class="label-feild">
              <label for="message">Message</label>
              <textarea
                name=""
                id="message"
                cols="30"
                rows="6"
                class="message"
              ></textarea>
            </div>

            <input type="submit" class="submit-hero" value="Contact us now" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--   <div class="hero-left">
    <h1>Find the Greatest places to live</h1>
    <p>
      Find affordable & reliable properties from Top class realestate center
    </p>
    <mat-form-field appearance="outline" class="search">
      <input matInput />

      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="hero-right">
    <img src="../../../assets/hero-bg.png" alt="" />
  </div> -->
</div>
