.property-card {
  max-width: 300px;
  position: relative;
   display: inline-flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  min-height: 450px;
  margin:20px; 

}
.property-card .icon {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px;
  height: 50px;
  color: white;
}
.property-card img{
    height: 200px;
  object-fit: cover;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
