<!-- {{property|json}} -->
<mat-card class="property-card" *ngFor="let p of property">
  <img
    mat-card-image
    src={{p.pPhoto}}
    alt="Photo of a Shiba Inu"
  />

  <span class="icon">
    <button
      mat-icon-button
      class="favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon color="white">favorite</mat-icon>
    </button>
  </span>

  <mat-card-content>
        
        <h3>{{p.pName}}</h3>

        <p>{{p.pBHK}}</p>
        
        <p>{{p.pPrice | currency: "INR"}}</p>

        <p>{{p.aArea}}</p>

        <p>{{p.pPossesionStatus}}</p>

        <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button 
    [routerLink]="'/property/'+p.pId"
    >View Property</button>
    <button mat-button>Send Enquiry</button>
  </mat-card-actions>
</mat-card>
