<div class="property-card-container">
  <mat-card class="property-card" *ngFor="let p of property">
    <img mat-card-image src={{p.pPhoto}} alt="Photo of a Shiba Inu" />

    <span class="icon">
      <button mat-icon-button (click)="addToSaved(p.pId)" class="favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon color="white">favorite</mat-icon>
      </button>
    </span>

    <mat-card-content class="card-content ">
      <h3>{{p.pName}}</h3>
      <p class="card-content-area">{{p.aArea}}</p>
      <p class="card-content-price">{{p.pPrice | currency: "INR"}}</p>
      <!-- <p>{{p.pPossesionStatus}}</p> -->
    
      
      <div class="card-content-keypoints">
        <p>{{p.pArea}} sqft</p>
      <p>{{p.aCity}} </p>
      </div>
      <mat-divider></mat-divider>
    <div class="card-content-buttons">
      <button mat-button [routerLink]="'/property/'+p.pId">View Property</button>
      <button mat-button>Send Enquiry</button>
    </div>
    </mat-card-content>
   
    
      
 
  </mat-card>
</div>