<mat-card class="property-card">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <span class="icon">
    <button
      mat-icon-button
      class="favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon color="white">favorite</mat-icon>
    </button>
  </span>

  <mat-card-content>
        
        <h3>Property Name</h3>

        <p>2 BHK </p>
        
        <p>1.1Cr</p>

        <p>Rayanapadu </p>

        <p>Ready to Move</p>

        <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>View Property</button>
    <button mat-button>Send Enquiry</button>
  </mat-card-actions>
</mat-card>
