<div class="feature">
  
  <div class="feature-heading">
    <h1>
      {{ propertyType ? propertyType + '' : '' }}
      {{ propertyCity ? propertyCity + ' Properties' : '' }}
      {{ !propertyType && !propertyCity ? 'Featured Properties' : '' }}
    </h1>
<div class="line-under"></div>
  </div>
  <div class="feature-cards">
    <ng-container *ngIf="propertyType">
      <app-property-card [propertyType]="propertyType"></app-property-card>
    </ng-container>
    <ng-container *ngIf="propertyCity">
      <app-property-card [propertyCity]="propertyCity"></app-property-card>
    </ng-container>
    <ng-container *ngIf="!propertyType && !propertyCity">
      <app-property-card></app-property-card>
    </ng-container>
  </div>



  
</div>
