/* form{
  margin: 0 auto;
} */

.full-width {
  width: 90%;
  margin-left: 5%;
}
.text-align {
    text-align: center;
}
.container {
  padding: 20px;
}
.container img{
  height: 200px;
  width: 200px;
}
.card-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
   & .card-login{
    width: 500px;
  }
  & .login{
    background-color: #00B4A1;
    color: white;
    margin: 0px 10px;
  }
  .re {
    background-color: black;
    color: white;
  }
}
