<app-navbar></app-navbar>

<div class="card-wrap">
  <div class="card-login">
    <div class="container text-center">
     
    </div>
  
    <h1 class="text-center">Login</h1>
  
    <!-- {{ loginData | json }} -->
    <form (ngSubmit)="formSubmit()">
      <!-- username field -->
      <!-- UserName field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>UserName</mat-label>
        <input
          name="username"
          [(ngModel)]="loginData.username"
          matInput
          placeholder="Enter Here"
        />
      </mat-form-field>
  
      <!-- Password field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          name="password"
          type="password"
          [(ngModel)]="loginData.password"
          matInput
          placeholder="Enter Here"
        />
      </mat-form-field>
  
      <div class="container text-center">
        <button mat-raised-button class="login" type="submit">
          Login
        </button>
        <button class="ml10" mat-raised-button color="accent" class="login re" (click)="clearInput()"
          type="button" >
          Reset
        </button>
      </div>
    </form>
   </div>
</div>
