.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;

  background: transparent;
  z-index: 999;
  transition: 0.3s ease-in-out;
}
.scrolled {
  z-index: 999;
  /* background-color: rgba(86, 86, 86, 0.503); */
  background: rgba(255, 255, 255, 0.544);
  background-color: white;
  /* background-color: antiquewhite; */
  transition: 0.3s ease-in-out;
  box-shadow: 2px 6px 18px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 6px 18px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 6px 18px 0px rgba(0, 0, 0, 0.45);
}
.nav-right {
  background-color: white;
  border-radius: 70px;
}

.menu-icon {
  margin-right: 12px;
  vertical-align: middle;
}

.menu-text {
  vertical-align: middle;
}
