<div class='nav' [class.scrolled]="isScrolled">
  <div class="nav-left">
    <h2>My App</h2>
  </div>
  <div class="nav-right">
    
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
