
<div class="neighbour-container m-h-35">
    <div class="neighbour-heading">
<h1>Explore Our Neighbourhood</h1>
<div class="line-under">

</div>
    </div>
    <div class="neighbour-images">
        <div class="imgcon" [routerLink]="'/propertyCity/Hyderabad'">
            <img src="../../../assets/images/1.png" alt="" srcset="">
            <h5>Hyderabad</h5>
            <p>10 Properties</p>

        </div>
        <div class="imgcon" [routerLink]="'/propertyCity/Bapatla'">
            <img src="../../../assets/images/2.png" alt="" srcset="">
            <h5>Bapatla</h5>
            <p>2 Properties</p>
        </div>
        <div class="imgcon" [routerLink]="'/propertyCity/jkhk'">
            <img src="../../../assets/images/3.png" alt="" srcset="">
            <h5>Jkhk</h5>
            <p>1 Properties</p>
        </div>
    </div>
</div>
