.neighbour-container{
    padding: 80px 0px 0px 0px;
}
.neighbour-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    & .line-under{
        width: 15%;
        background-color: #00B4A1;
        height: 3px !important;
        margin: 10px 0px;
    }
    & h1{
        font-size: 40px;
        font-weight: 500;
    }
}
.neighbour-images{
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0px;
    & .imgcon{
        width: 280px;
        height: 280px;
        position: relative;
      cursor: pointer;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 1/1;
            transition: ease-in-out 0.3s;
        }
        & h5,p{
            position: absolute;
            top: 30px;
    left:165px;
    font-size: 20px;
    font-weight: 500;
            display: none;
            transition: ease-in-out 0.3s;
        }
    }
    & .imgcon:hover{
        width: 280px;
        height: 280px;

      
        & img {
            width: 150px;
            height: 80%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 10px;
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
        }
        & h5{
            position: absolute;
            top: 30px;
    left:165px;
    font-size: 20px;
    font-weight: 500;
    display: block;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
        }
        & p{
            position: absolute;
            top: 60px;
    left:165px;
    font-size: 16px;
    font-weight: 400;
    color: #c1c1c1;
    display: block;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
        }
    }
}
@media screen and (max-width:770px) {
    .neighbour-images{
  
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0px;
        gap: 10px 10px;
        flex-wrap: wrap;
        & .imgcon{
            width: 250px;
            height: 250px;
            position: relative;
          cursor: pointer;
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                aspect-ratio: 1/1;
                transition: ease-in-out 0.3s;
            }
        }
        & .imgcon:hover{
            width: 280px;
            height: 280px;
    
          
            & img {
                width: 150px;
                height: 80%;
                object-fit: cover;
                aspect-ratio: 1/1;
                border-radius: 10px;
                transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
            }
        }
    }
}
@media screen and (max-width:426px) {
    .neighbour-heading{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        & .line-under{
            width: 15%;
            background-color: #00B4A1;
            height: 3px !important;
            margin: 10px 0px;
        }
        & h1{
            font-size: 30px;
            font-weight: 500;
            margin: 5px 0px;
        }
    }
}
@media screen and (max-width:321px) {
    .neighbour-heading{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        & .line-under{
            width: 15%;
            background-color: #00B4A1;
            height: 3px !important;
            margin: 10px 0px;
        }
        & h1{
            text-align: center;
            font-size: 26px;
            font-weight: 500;
            margin: 5px 0px;
        }
    }
}