<ng-container *ngIf="user.authorities[0].authority === 'SuperAdmin'">
  <div class="tableholder">
  <div class="button-container">

    <button mat-raised-button class="back-button" [routerLink]="'/superadmin/'">
      Back
    </button>
    <div id="view" class="e-btn-group">
      <input
        type="radio"
        id="left"
        name="align"
        value="1"
        (click)="changeDisplay(1)"
      />
      <label class="e-btn" for="left">Grid View</label>
      <input
        type="radio"
        id="right"
        name="align"
        value="2"
        (click)="changeDisplay(2)"
      />
      <label class="e-btn" for="right">List View</label>
    </div>
  </div>

  <table class="property-table" *ngIf="display === 2">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Active</th>
        <th>Sold Out</th>
        <th>Username</th>
        <th>Phone Number</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td>{{ property.pName }}</td>
        <td>
          <mat-slide-toggle
            [checked]="property.active"
            (change)="togglePropertyActive(property)"
          >
          </mat-slide-toggle>
        </td>
        <td>
          <mat-slide-toggle
            [checked]="property.soldOut"
            (change)="toggleSoldOut(property)"
            class="toggle"
          >
          </mat-slide-toggle>
        </td>
        <td>
          {{ property.user.username }}
        </td>
        <td>
          {{ property.user.phonenumber }}
        </td>
        <td>
          <button
            mat-raised-button
            class="edit"
            [routerLink]="'/superadmin/properties/' + property.pId"
            (click)="updateProperty(property)"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            mat-raised-button
            class="delete"
            (click)="deleteProperty(property.pId)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</ng-container>

<ng-container *ngIf="user.authorities[0].authority === 'Admin'">
  <div class="tableholder">
    <div class="button-container">
      <button
        mat-raised-button
        class="back-button"
        
        [routerLink]="'/admin/'"
      >
        Back
      </button>
      <div id="view" class="e-btn-group">
        <input
          type="radio"
          id="left"
          name="align"
          value="1"
          (click)="changeDisplay(1)"
        />
        <label class="e-btn" for="left">Grid View</label>
        <input
          type="radio"
          id="right"
          name="align"
          value="2"
          (click)="changeDisplay(2)"
        />
        <label class="e-btn" for="right">List View</label>
      </div>
    </div>
    <table class="property-table" *ngIf="display === 2">
      <thead>
        <tr>
          <th>Property Name</th>
          <th>Sold Out</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of agentProperties">
          <td>{{ property.pName }}</td>
  
          <td>
            <mat-slide-toggle
              [checked]="property.soldOut"
              (change)="toggleSoldOut(property)"
            >
            </mat-slide-toggle>
          </td>
  
          <td>
            <button
              mat-raised-button
              class="edit"
              [routerLink]="'/admin/properties/' + property.pId"
              (click)="updateProperty(property)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              mat-raised-button
              class="delete"
              (click)="deleteProperty(property.pId)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>



<div class="tableholder">
  <app-admin-property-card *ngIf="display === 1">

  </app-admin-property-card>
</div>