
<div class="tableholder">
  <button mat-raised-button class="back-button" (click)="goBack()">Back</button> 
<table class="user-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <!-- <th>Role</th> -->
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.phonenumber }}</td>
      <td>{{ user.email }}</td>
      <!-- <td>
        <ul>
          <li *ngFor="let authority of user.authorities">{{ authority.authority }}</li>
        </ul>
      </td> -->
      <td>
        <button
          mat-raised-button
          class="edit"
          [routerLink]="'/superadmin/users/' + user.uId"
        >
          Edit
        </button>
      </td>
      <td>
        <button mat-raised-button
          class="delete" (click)="deleteUser(user.uId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
