<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button routerLink="/admin" mat-list-item>
      <mat-icon mat-list-icon class="menu-icon">home</mat-icon>
      <span class="menu-text">Home</span>
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon class="menu-icon">account_circle</mat-icon>
      <span class="menu-text">Profile</span>
    </button>
    <button mat-list-item routerLink="/admin/property">
      <mat-icon mat-list-icon class="menu-icon">house</mat-icon>
      <span class="menu-text">All Properties</span>
    </button>
    <button mat-list-item routerLink="/admin/add-property">
      <mat-icon mat-list-icon class="menu-icon">add_circle</mat-icon>
      <span class="menu-text">Post Property</span>
    </button>
    <button mat-list-item (click)="logout()">
      <mat-icon mat-list-icon class="menu-icon">logout</mat-icon>
      <span class="menu-text">Logout</span>
    </button>
  </mat-action-list>
</mat-card>
