<mat-card class="add-property">
  <h1>Update Property</h1>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form *ngIf="property" (ngSubmit)="updateProperty()">
            <div class="property-main">
              <!-- Property Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Property Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.pName"
                  name="pName"
                  placeholder="Enter Property Name"
                />
              </mat-form-field>

              <!-- Property Image URL -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Property Image URL</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.pPhoto"
                  name="pPhoto"
                  placeholder="Enter Property Photo"
                />
              </mat-form-field>

              <!-- Address Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Address Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.aArea"
                  name="aArea"
                  placeholder="Enter Address Name"
                />
              </mat-form-field>

              <!-- Landmark Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Landmark Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.aLandmark"
                  name="aLandmark"
                  placeholder="Enter Landmark Name"
                />
              </mat-form-field>

              <!-- City Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>City Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.aCity"
                  name="aCity"
                  placeholder="Enter City Name"
                />
              </mat-form-field>

              <!-- State Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>State Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.aState"
                  name="aState"
                  placeholder="Enter State Name"
                />
              </mat-form-field>

              <!-- Pincode Name -->
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Pincode Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.aPincode"
                  name="aPincode"
                  placeholder="Enter Pincode"
                />
              </mat-form-field>

              <!-- Property Price -->
              <mat-form-field appearance="outline">
                <mat-label>Property Price</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.pPrice"
                  type="number"
                  name="pPrice"
                  placeholder="Enter Property Price"
                />
              </mat-form-field>

              <!-- Offer Type -->
              <mat-form-field appearance="outline">
                <mat-label>Offer Type</mat-label>
                <mat-select [(ngModel)]="property.pOfferType" name="pOfferType">
                  <mat-option></mat-option>
                  <mat-option value="sale">Sale</mat-option>
                  <mat-option value="resale">Resale</mat-option>
                  <mat-option value="rent">Rent</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Property Type -->
              <mat-form-field appearance="outline">
                <mat-label>Property Type</mat-label>
                <mat-select
                  name="pPropertyType"
                  [(ngModel)]="property.pPropertyType"
                >
                  <mat-option></mat-option>
                  <mat-option value="flat">Flat</mat-option>
                  <mat-option value="villa">Villa</mat-option>
                  <mat-option value="house">House</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Property Status</mat-label>

                <mat-select
                  name="pPossesionStatus"
                  [(ngModel)]="property.pPossesionStatus"
                >
                  <mat-option></mat-option>
                  <mat-option value="readytomove">Ready To Move</mat-option>
                  <mat-option value="underconstruction"
                    >Under Construction
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Furnished Status</mat-label>

                <mat-select
                  name="pFurnishedStatus"
                  [(ngModel)]="property.pFurnishedStatus"
                >
                  <mat-option></mat-option>
                  <mat-option value="fullyfurnished"
                    >Fully Furnished</mat-option
                  >
                  <mat-option value="semifurnished">Semifurnished</mat-option>
                  <mat-option value="unfurnished">Unfurnished</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Facing </mat-label>

                <mat-select [(ngModel)]="property.pFacing" name="pFacing">
                  <mat-option></mat-option>
                  <mat-option value="east">East</mat-option>
                  <mat-option value="west">West</mat-option>
                  <mat-option value="south">South</mat-option>
                  <mat-option value="north">North</mat-option>
                  <mat-option value="northwest">North West</mat-option>
                  <mat-option value="northeast">North East</mat-option>
                  <mat-option value="southeast">South East</mat-option>
                  <mat-option value="southwest">South West</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Age Of Construction</mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pAgeOfConstruction"
                  name="pAgeOfConstruction"
                  placeholder="Enter Property Age"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>How many BHK</mat-label>
                <input
                  matInput
                  [(ngModel)]="property.pBHK"
                  name="pBHK"
                  placeholder="Enter Property BHK"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>How many bedrooms </mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pBedroom"
                  name="pBedroom"
                  placeholder="Enter Property Bedrooms"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>How many bathrooms</mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pBathroom"
                  name="pBathroom"
                  placeholder="Enter Property Bathrooms"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>How many balconies</mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pBalcony"
                  name="pBalcony"
                  placeholder="Enter Property Balconies"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Total Floor</mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pTotalFloor"
                  name="pTotalFloor"
                  placeholder="Enter Total Floor"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Floor room</mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pRoomFloor"
                  name="pRoomFloor"
                  placeholder="Enter Room Floor"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Carpet Area</mat-label>

                <input
                  matInput
                  [(ngModel)]="property.pArea"
                  name="pArea"
                  placeholder="Enter Area in squarefeets"
                />
              </mat-form-field>

              <!-- Description -->
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="property.pDescription"
                  name="pDescription"
                  placeholder="Enter Property Description"
                ></textarea>
              </mat-form-field>

              <!-- Amenities -->

              <mat-checkbox
                class="example-margin"
                name="lift"
                [(ngModel)]="property.lift"
                >Lift</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="security"
                [(ngModel)]="property.security"
                >Security Guard</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="playground"
                [(ngModel)]="property.playground"
                >Play Ground</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="gardens"
                [(ngModel)]="property.gardens"
                >Garden</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="waterSupply"
                [(ngModel)]="property.waterSupply"
                >Water Supply</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="powerBackup"
                [(ngModel)]="property.powerBackup"
                >Power Backup</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="parkingArea"
                [(ngModel)]="property.parkingArea"
                >Parking Area</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="gym"
                [(ngModel)]="property.gym"
                >Gym</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="shoppingMall"
                [(ngModel)]="property.shoppingMall"
                >Shopping Mall</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="hospitals"
                [(ngModel)]="property.hospitals"
                >Hospital</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="schools"
                [(ngModel)]="property.schools"
                >School</mat-checkbox
              >
              <mat-checkbox
                class="example-margin"
                name="marketArea"
                [(ngModel)]="property.marketArea"
                >Market Area</mat-checkbox
              >

              <!-- Gallery Images -->
              <!-- <div formArrayName="images">
                <div
                  *ngFor="let image of images.controls; let i = index"
                  class="form-group"
                >
                  <label>Gallery Image {{ i + 1 }}</label>
                  <input
                    type="file"
                    class="form-control"
                    [formControlName]="i"
                    accept="image/*"
                  />
                  <button
                    type="button"
                    mat-raised-button
                    color="accent"
                    class="btn btn-danger"
                    (click)="removeGalleryImage(i)"
                  >
                    Remove
                  </button>
                </div>
                <button
                  type="button"
                  mat-raised-button
                  color="accent"
                  class="btn btn-primary"
                  (click)="addGalleryImage()"
                >
                  Add Image
                </button>
              </div> -->
            </div>

            <!-- Submit button -->
            <div class="container text-center mt15">
              <button mat-raised-button color="accent">Edit</button>
              <button
                mat-raised-button
                color="accent"
                *ngIf="user.authorities[0].authority === 'SuperAdmin'"
                [routerLink]="'/superadmin/properties'"
              >
                Back
              </button>
              <button
                mat-raised-button
                color="accent"
                *ngIf="user.authorities[0].authority === 'Admin'"
                [routerLink]="'/admin/properties'"
              >
                Back
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
