.profile{
    padding: 20px;

}
.profile-image {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid #ff4081;
  border-radius: 50%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  padding: 15px 10px;
  border: 0.5px solid #e2e2e2;
}
.button-container {
  display: flex;
  justify-content: center;
}
.accent{
  margin-left: 10px;
}
